.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20vh;
}

.hero_text_container {
  padding-inline: 14%;
  margin-bottom: 40px;
}

.hi {
  color: var(--accent);
  font-size: 2.3125em;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero_text {
  font-size: 1.3125em;
}

.hero_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7vh;
}

.hero_links > a {
  font-size: 1.3125em;
  width: 200px;
  height: 46px;
  text-align: center;
  border-radius: 12px;
}

.hero_link_primary {
  background-color: var(--accent);
  margin-bottom: 22px;
  line-height: 46px;
}
.hero_link_secondary {
  color: var(--accent);
  border: 2px solid var(--accent);
  line-height: 42px;
}

@media screen and (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: center;
  }

  .hero_text_container {
    margin: 0 56px 0 0;
    padding: 0;
  }

  .hi {
    font-size: 4.75em;
    font-weight: 600;
  }

  .hero_text {
    font-size: 1.5em;
  }

  .logo {
    animation: spin 24s linear 2s infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
